.intro-text {
    display: block;
    text-align: center;
    width: 422px;
    height: auto;
    margin: 0 auto;
    padding-top: 0px;
    margin-bottom: 0px;
    font-family: Arial;
    font-size: 20px;
    background: none;
    border: none;
}

.intro-text .fine-print {
    font-size: 12px;
}

.centered-img {
    display: block;
    text-align: center;
    height: auto;
    margin: 0 auto;
    padding-top: 0px;
    margin-bottom: 0px;
    background: none;
    border: none;
}
.left-img {
    height: auto;
    margin: 0 auto;
    background: none;
    border: none;
    float: left;
    margin-right: 20px;
}

li {
  list-style: none;
}

li .drag-span {
  text-decoration: none;
  color: #000;
  border: 3px dashed #069;
  /*border-radius: 25px;*/
  /*-moz-border-radius: 25px; *//* Firefox 3.6 and earlier */
  background: #eee;
  display: inline-block;
  font-size: 10px;
  padding: 2px;
  width: 300px;
}

li .drag-span a {
  font-size: 10px;
  text-decoration: none;
}

li .drag-span .user-pic {
  float: left;
  margin-right: 5px;
  vertical-align: top;
  display: block;
}

li .drag-span .user-name {
    font-weight: bold;
}

li .drag-span .thumbnail {
  vertical-align: top;
  display: inline-block;
  float: right;
  margin-right: 5px;
  display: block;
}

*[draggable=true] {
  -moz-user-select:none;
  -khtml-user-drag: element;
  cursor: move;
}

*:-khtml-drag {
  background-color: rgba(238,238,238, 0.5);
}

ul {
  margin-left: 250px;
  min-height: 300px;
}

li.over {
  border-color: yellow;
  background: #ccc;
}

#bin {
  display: block;
  background: url(/public/images/evernote.jpeg) no-repeat;
  height: 199px;
  width: 253px;
  border: 5px solid #000;
  position: relative;
  margin-top: 0;
  margin-right: 20;
}

#bin.over {
  /* background: url(/public/images/evernote.jpg) no-repeat; */
    border: 5px solid #069;
}

#bin p {
  font-weight: bold;
  text-align: center;
  position: absolute;
  bottom: 20px;
  width: 253px;
  font-size: 32px;
  color: #fff;
  text-shadow: #000 2px 2px 2px;
}

p {
  text-align: center;
  height: auto;
  margin: 0 auto;
  padding-top: 0px;
  margin-bottom: 0px;
  background: none;
}

h1 {
  text-align: center;
  height: auto;
  margin: 0 auto;
  padding-top: 0px;
  margin-bottom: 0px;
  background: none;
}

h2 {
  text-align: center;
  height: auto;
  margin: 0 auto;
  padding-top: 0px;
  margin-bottom: 0px;
  background: none;
}


#shares {
  margin-top: 0;
  vertical-align: top;
}

.comment {
    font-style: italic;
    text-align: left;
}

.hidden {
    display: none;
}

.two {
    font-size: 60px;
    font-weight: bold;
}

#intro {
    background: url('/public/images/greenbg.png');
    -moz-background-size: 100% 100%;
    Firefox 3.6 background-size: 100% 100%;
    background-repeat:repeat;
    background-position:center;
}

.login-img {
    display: block;
    text-align: center;
    height: auto;
    margin: 0 auto;
    padding-top: 0px;
    margin-bottom: 0px;
    background: none;
    border: none;
}

#morebutton {
    width: 120;
    height: 25;
    background-color: #069;
    font-size: 14px;
    font-weight: bold;
    color: white;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    float: right;
}

#leftcol {
    float: left;
    vertical-align: top;
    padding-top: 0;
    margin-top: 0;
}