<!DOCTYPE html>
<html lang="en">
<head>
<meta charset=utf-8 />
<title>In2EverNote</title>
<link rel="stylesheet" href="/public/stylesheets/main.css" type="text/css" />
</head>
<body id="intro">
<img class="left-img" src="/public/images/evernote_notes.png">
<p class="intro-text">
    <img height="40" width="40" src="${myProfile.picture}"/> ${myProfile.firstName} ${myProfile.lastName}<br/>
    You are logged into LinkedIn. <br/>
    Now connect to Evernote.<br/>

<span class="fine-print">Need a <a href="http://sandbox.evernote.com/" target="_blank">SANDBOX Evernote account</a>?</span>
    <br/><br/>

<form class="intro-text" method="POST" action="/application/evernote">
    username: <input type="text" name="username"/><br/>
    password: <input type="password" name="password"/><br/>
    <img height="30" src="/public/images/evernote-elephant.jpeg">&nbsp;<input type="submit" value="Sign in"/>
</form>
</p>
</body>
</html>

