<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset=utf-8 />
    <title>In2Evernote</title>
    <link rel="stylesheet" href="/public/stylesheets/html5demos.css" type="text/css" />
    <link rel="stylesheet" href="/public/stylesheets/main.css" type="text/css" />
    <script src="/public/javascripts/jquery-1.4.2.min.js"></script>
    <script src="/public/javascripts/h5utils.js"></script>
    <script type="text/javascript">var switchTo5x=true;</script>
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">stLight.options({publisher:'c8498dbb-d497-4954-8cab-c7a0f320e431'});</script>
</head>
<body id="intro">
<section id="wrapper">
    <header>
      <h1><img height="40" src="/public/images/LinkedIn_Logo60px.png">
          <span class="two">2</span>
          <img height="45" src="/public/images/evernote_logo2.png" style="vertical-align: bottom">
      </h1>
      <h2>Drag and Drop LinkedIn Shares to Evernote</h2>
    </header>
    <article>
      <div id="leftcol">
          <div id="bin"></div>
          <button id="morebutton">More&nbsp;Shares&nbsp;&#0187;</button>
          <span id="curoffset">0</span><br/>
          <span class="go2evernote">See your
              <a href="https://sandbox.evernote.com/Login.action" target="_blank">In2Evernote Notebook</a>
          </span>
      </div>

      <div id="shares">
      </div>
    </article>
</section>
<footer>
    <centeR>
    <span  class='st_linkedin_hcount' displayText='LinkedIn'></span>
    <span  class='st_twitter_hcount' displayText='Tweet'></span>
    <span  class='st_facebook_hcount' displayText='Facebook'></span>
    </centeR>
</footer>
</body>
<script src="/public/javascripts/shares.js"></script>
</html>
