<!DOCTYPE html>
<html lang="en">
<head>
<meta charset=utf-8 />
<title>In2EverNote</title>
<link rel="stylesheet" href="/public/stylesheets/html5demos.css" type="text/css" />
<link rel="stylesheet" href="/public/stylesheets/main.css" type="text/css" />
<script src="/public/javascripts/jquery-1.4.2.min.js"></script>
<script src="/public/javascripts/h5utils.js"></script>
</head>
<body>
<section id="wrapper">
    <header>
      <h1>Drag and Drop <img height="40" src="/public/images/linkedin-logo.jpeg"> Shares to EverNote</h1>
    </header>

    <article>
      <p>Drag the shares you want to save over to the EverNote Elephant</p>
      <br/>
      <div id="bin"></div>
      <div id="shares">
      </div>
    </article>
</section>
</body>
<script src="/public/javascripts/shares.js"></script>
</html>
