<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset=utf-8 />
    <title>In2Evernote</title>
    <link rel="stylesheet" href="/public/stylesheets/main.css" type="text/css" />
    <script type="text/javascript">var switchTo5x=true;</script>
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">stLight.options({publisher:'c8498dbb-d497-4954-8cab-c7a0f320e431'});</script>
</head>
<body id="intro">
<br/><br/><br/><br/>
    <img class="login-img" src="/public/images/in2evernote.png">
    <br/>
    <a href="/application/evernoteindex">
        <img class="login-img" src="/public/images/log-in-linkedin-large.png"/>
    </a>
<br/><br/><br/><br/><br/>
<footer>
    <centeR>
    <span  class='st_linkedin_hcount' displayText='LinkedIn'></span>
    <span  class='st_twitter_hcount' displayText='Tweet'></span>
    <span  class='st_facebook_hcount' displayText='Facebook'></span>
    </centeR>
</footer>
</body>
</html>
